@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --white: #FFFFFF;
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --white2: #eee;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: var(--white);
    box-shadow: 0px 1px;
    box-shadow: var(--box-shadow);
    top: 0; left: 0; right: 0;
}

.faUtensils{
    color: var(--green);
}

.Navbar span{
    font-size: 30px;
    font-weight: 600;
    color: var(--black);
    cursor: pointer;
}

.Navbar ul{
    position: relative;
    top: 10px;
    display: flex;
    gap: 20px;
}

.Navbar a{
    text-decoration: none;
    font-size: 17px;
    color: var(--light-color);
    padding: 5px 15px;
}

.Navbar a:hover{
    background-color: var(--green);
    color: var(--white);
    padding: 5px 15px;
    border-radius: 5px;
}

.Navbar a.active{
    background-color: var(--green);
    color: var(--white);
    padding: 5px 15px;
    border-radius: 5px;
}

.NavIcon{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.FontAwesomeIcon{
    background: var(--white2);
    border-radius: 50%;
    padding: 13px;
    cursor: pointer;
}

.FontAwesomeIcon:hover{
    background-color: var(--green);
    color: var(--white);
}